*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    text-align: center;
    color: #047996;
}

p{
    color: #145666;
}
div{
    padding-top: 20px;
    height: 300px;
    background-color: #8a3d54;
    background-image: url("../img/Background-div.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.div{
    text-align: center;
    color: #ffffff;
}