*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color:rgb(238, 234, 234);
    margin-bottom: 10px;
}

h1{
    color: #0c949e;
}

#will{
    width: 50%;
    height: 200px;
    background-size: cover;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 4px 5px #000000;
    box-shadow: 3px 4px 5px #0e0909;
}

img{
    width: 100%;
    height: 100px;
    size: cover;
}

#numero {
  transition: color 0.3s ease-in-out;
}

#botao{
    border-radius: 30px;
    background-color: rgb(51, 199, 51);
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 4px;
}

#botao2{
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 4px;
}
#botao3{
    border-radius: 30px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 4px;
}

#botao:hover{
    background-color: rgb(41, 184, 41);
}

#botao3:hover{
    background-color: rgb(202, 0, 0);
}

#botao2:hover{
    background-color: #2e2d2d
}




